<header class="header">
<a href="/" class ="header_logo">Printf</a>

<nav class="header_nav">
    <ul>
        <li>
            <a href="/" >Home</a>
        </li>
        <li>
            <a href="/about" >About</a>
        </li>
        <li>
            <a href="/" >Contact</a>
        </li>
        <li>
            <a href="/admin">Login</a>
        </li>
        <li>
            <a href="/register">Register</a>
        </li>
    </ul>
</nav>
<div class="header_button">
  <button class="searchBtn" aria-expanded="false">
    Search
  </button>
</div>


</header>